# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules

storybook-static

# husky
.husky
front

# lock
yarn.lock

# yarn 
.yarn
.pnp.js
.yarnrc.yml